@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #1F1F1F;
  --foreground: #dddddd;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary: oklch(0.21 0.034 264.665);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --secondary: oklch(0.967 0.003 264.542);
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.002 247.839);
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.21 0.034 264.665);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.967 0.003 264.542);
  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.707 0.022 261.325);
}

.dark {
  --background: oklch(0.13 0.028 261.692);
  --foreground: oklch(0.985 0.002 247.839);
  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.985 0.002 247.839);
  --popover: oklch(0.21 0.034 264.665);
  --popover-foreground: oklch(0.985 0.002 247.839);
  --primary: oklch(0.928 0.006 264.531);
  --primary-foreground: oklch(0.21 0.034 264.665);
  --secondary: oklch(0.278 0.033 256.848);
  --secondary-foreground: oklch(0.985 0.002 247.839);
  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.707 0.022 261.325);
  --accent: oklch(0.278 0.033 256.848);
  --accent-foreground: oklch(0.985 0.002 247.839);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.034 264.665);
  --sidebar-foreground: oklch(0.985 0.002 247.839);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.278 0.033 256.848);
  --sidebar-accent-foreground: oklch(0.985 0.002 247.839);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* -------------------------------------------------- CUSTOM COLORS -------------------------------------------------- */
/* --------------------------------------- why is my tailwing not working ??? ---------------------------------------- */

.transparent-white {
  background-color: rgba(255, 255, 255, 0.45);
}

.transparent-grey {
  background-color: rgba(58, 58, 58, 0.808);
}

.transparent-black {
  background-color: rgba(0, 0, 0, 0.45);
}

.more-transparent-white {
  background-color: rgba(255, 255, 255, 0.2);
}

.bg-page-grey {
  background-color: #1E1E1E;
}

.bg-page-grey-transparent {
  background-color: rgba(30, 30, 30, 0.95);
}

.bg-divider-grey {
  background-color: #121212;
}

.more-transparent-grey {
  background-color: rgba(58, 58, 58, 0.63);
}

.ts-blue {
  background-color: #007acc;
}

.js-yellow {
  background-color: #f7df1e;
}

.linkedIn-blue {
  background-color: #0a66c2;
}

.mail-upper-blue {
  background-color: #1d62f0;
}

.mail-bottom-blue {
  background-color: #1AD5FD;
}

.bg-html-orange {
  background-color: #ffab87;
}

.bg-css-blue {
  background-color: #95d1f6;
}

.bg-c-purple {
  background-color: #a8b1e4;
}

.bg-cpp-blue {
  background-color: #9dceff;
}

.bg-python-gray {
  background-color: #324A5E;
}

.bg-tailwind-gray {
  background-color: #202124;
}

.bg-postgres-blue {
  background-color: #336891;
}

.bg-mysql-orange {
  background-color: #ffdcab;
}

.bg-aws-gray {
  background-color: #232F3E;
}

.bg-excel-green {
  background-color: #1F7244;
}

.bg-windows-blue {
  background-color: #0077D5;
}

.bg-trello-blue {
  background-color: #007AC2
  ;
}

.bg-weather-upper-blue {
  background-color: #104B85
  ;
}

.bg-weather-bottom-blue {
  background-color: #5B8BC0;
}

.transparent-black {
  background-color: rgba(0, 0, 0, 0.85);
}



/* --------------------------------------- why is my tailwing not working ??? ---------------------------------------- */
/* -------------------------------------------------- CUSTOM COLORS -------------------------------------------------- */

.wallpaper-pic {
  background-image: url("/wallpapers/fav-lilies-wallpaper.jpg"); 
  background-size: cover;
  background-position: center; 
  background-repeat: repeat-x;
  position: absolute;
  width: 100vw;
  height: 100vh; 
  z-index: -1;
}

.welcome-wallpaper-pic {
  background-image: url("/wallpapers/fav-lilies-wallpaper.jpg"); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100w;
  height: 100%;
  z-index: -1; 
  filter: blur(10px); 
}

.memoji-container {
  opacity: 100;
  transform: scale(0.8);
  transition: opacity 1s ease, transform 1s ease;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; 
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8); 
}

.JG-icon-gray-svg {
  background-image: url("/JG-gray.svg"); 
  background-size: contain;
  background-position: center; 
  background-repeat: no-repeat;
  width: 45;
  height: 45;
}

.C-icon-svg {
  background-image: url("/skills-icons/c-program-icon.svg"); 
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  width: 60;
  height: 60;
}

.CPP-icon-svg {
  background-image: url("/skills-icons/c-plus-plus-programming-language-icon.svg"); 
  background-size: contain;
  background-position: center; 
  background-repeat: no-repeat;
  width: 60;
  height: 60;
}

.python-icon-svg {
  background-image: url("/skills-icons/python-programming-language-icon.svg"); 
  background-size: cnver;
  background-position: center; 
  background-repeat: no-repeat;
  width: 60;
  height: 60;
}

.TS-icon-svg {
  background-image: url("/skills-icons/typescript-programming-language-icon.svg"); 
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  width: 60;
  height: 60;
}

.JS-icon-svg {
  background-image: url("/skills-icons/javascript-programming-language-icon.svg"); 
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  width: 60;
  height: 60;
}

.react-icon-svg {
  background-image: url("/skills-icons/react-js-icon.svg"); 
  background-size: contain;
  background-position: center; 
  background-repeat: no-repeat;
  width: 60;
  height: 60;
}

.nextJS-icon-svg {
  background-image: url("/skills-icons/nextjs-icon.svg"); 
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  width: 60;
  height: 60;
}

.go-icon-svg {
  background-image: url("/skills-icons/go-programming-language-icon.svg"); 
  background-size: contain;
  background-position: center; 
  background-repeat: no-repeat;
  width: 60;
  height: 60;
}

.HTML-icon-svg {
  background-image: url("/skills-icons/html-icon.svg"); 
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  width: 60;
  height: 60;
}

.CSS-icon-svg {
  background-image: url("/skills-icons/css-icon.svg"); 
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  width: 60;
  height: 60;
}


.git-icon-svg {
  background-image: url("/skills-icons/git-icon.svg"); 
  background-size: contain;
  background-position: center; 
  background-repeat: no-repeat;
  width: 65;
  height: 65;
}

.github-icon-svg {
  background-image: url("/skills-icons/github-white-icon.svg"); 
  background-size: contain;
  background-position: center; 
  background-repeat: no-repeat;
  width: 60;
  height: 60;
}

.linkedin-icon-svg {
  background-image: url("/skills-icons/linkedin-app-icon.svg"); 
  background-size: contain;
  background-position: center; 
  background-repeat: no-repeat;
  width: 86;
  height: 86;
}

.github-profile-icon-svg {
  background-image: url("/skills-icons/github-profile-icon.svg"); 
  background-size: contain;
  background-position: center; 
  background-repeat: no-repeat;
  width: 86; 
  height: 86;
}

.mail-icon-svg {
  background-image: url("/skills-icons/apple-envelope-icon.svg"); 
  background-size: contain;
  background-position: center; 
  background-repeat: no-repeat;
  width: 97; 
  height: 97;
}

.webtools-group-icon-svg {
  background-image: url("/skills-icons/webtools-group-icon.svg"); 
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  width: 65; 
  height: 65;
}

.devops-group-icon-svg {
  background-image: url("/skills-icons/devops-group-icon.svg"); 
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  width: 65; 
  height: 65;
}

.others-group-icon-svg {
  background-image: url("/skills-icons/others-group-icon.svg"); 
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  width: 65; 
  height: 65;
}

.tailwind-icon-svg {
  background-image: url("/skills-icons/tailwind-css-icon.svg"); 
  background-size: contain;
  background-position: center; 
  background-repeat: no-repeat;
  width: 65; 
  height: 65;
}

.sql-icon-svg {
  background-image: url("/skills-icons/sql-icon.svg"); 
  background-size: contain;
  background-position: center; 
  background-repeat: no-repeat;
  width: 65; 
  height: 65;
}

.postgresql-icon-svg {
  background-image: url("/skills-icons/postgresql-icon.svg"); 
  background-size: contain;
  background-position: center; 
  background-repeat: no-repeat;
  width: 65; 
  height: 65;
}

.mysql-icon-svg {
  background-image: url("/skills-icons/mysql-icon.svg"); 
  background-size: contain;
  background-position: center; 
  background-repeat: no-repeat;
  width: 65; 
  height: 65;
}

.snowflake-icon-svg {
  background-image: url("/skills-icons/snowflake-icon.svg"); 
  background-size: cover; 
  background-repeat: no-repeat;
  width: 75; 
  height: 75;
}

.mongodb-icon-svg {
  background-image: url("/skills-icons/mongodb-icon.svg"); 
  background-size: contain; 
  background-position: center; 
  background-repeat: no-repeat;
  width: 75; 
  height: 75;
}

.api-icon-svg {
  background-image: url("/skills-icons/api-icon.svg"); 
  background-size: contain; 
  background-position: center; 
  background-repeat: no-repeat;
  width: 75; 
  height: 75;
}

.github-actions-icon-svg {
  background-image: url("/skills-icons/github-actions-icon.svg"); 
  background-size: contain; 
  background-position: center; 
  background-repeat: no-repeat;
  width: 75; 
  height: 75;
}

.docker-icon-svg {
  background-image: url("/skills-icons/docker-icon.svg"); 
  background-size: contain; 
  background-position: center; 
  background-repeat: no-repeat;
  width: 75; 
  height: 75;
}

.jenkins-icon-svg {
  background-image: url("/skills-icons/jenkins-icon.svg"); 
  background-size: contain; 
  background-position: center; 
  background-repeat: no-repeat;
  width: 75; 
  height: 75;
}

.kubernetes-icon-svg {
  background-image: url("/skills-icons/kubernetes-icon.svg"); 
  background-size: contain; 
  background-position: center; 
  background-repeat: no-repeat;
  width: 75; 
  height: 75;
}

.aws-icon-svg {
  background-image: url("/skills-icons/aws-icon.svg"); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  width: 120; 
  height: 120;
}

.azure-icon-svg {
  background-image: url("/skills-icons/azure-icon.svg"); 
  background-size: contain; 
  background-position: center; 
  background-repeat: no-repeat;
  width: 75; 
  height: 75;
}

.google-cloud-icon-svg {
  background-image: url("/skills-icons/google-cloud-icon.svg"); 
  background-size: contain; 
  background-position: contain; 
  background-repeat: no-repeat;
  width: 75; 
  height: 75;
}

.excel-icon-svg {
  background-image: url("/skills-icons/excel-icon.svg"); 
  background-size: contain; 
  background-position: contain; 
  background-repeat: no-repeat;
  width: 75; 
  height: 75;
}

.powerbi-icon-svg {
  background-image: url("/skills-icons/power-bi-icon.svg"); 
  background-size: contain; 
  background-position: contain; 
  background-repeat: no-repeat;
  width: 75; 
  height: 75;
}

.linux-icon-svg {
  background-image: url("/skills-icons/linux-icon.svg"); 
  background-size: contain; 
  background-position: contain; 
  background-repeat: no-repeat;
  width: 75; 
  height: 75;
}

.windows-icon-svg {
  background-image: url("/skills-icons/windows-10-icon.svg"); 
  background-size: cover; 
  background-position: contain; 
  background-repeat: no-repeat;
  width: 65; 
  height: 65;
}

.agile-icon-svg {
  background-image: url("/skills-icons/agile-icon.svg"); 
  background-size: contain; 
  background-position: contain; 
  background-repeat: no-repeat;
  width: 75; 
  height: 75;
}

.notion-icon-svg {
  background-image: url("/skills-icons/notion-icon.svg"); 
  background-size: contain; 
  background-position: contain; 
  background-repeat: no-repeat;
  width: 75; 
  height: 75;
}

.trello-icon-svg {
  background-image: url("/skills-icons/trello-icon.svg"); 
  background-size: contain; 
  background-position: contain; 
  background-repeat: no-repeat;
  width: 80; 
  height: 80;
}

.pink-folder-icon-pic {
  background-image: url("/os-design/folder-pink.png"); 
  background-size: contain; 
  background-position: contain; 
  background-repeat: no-repeat;
  width: 130; 
  height: 130;
}

.pale-pink-folder-icon-pic {
  background-image: url("/os-design/folder-pale-pink.png"); 
  background-size: contain; 
  background-position: contain; 
  background-repeat: no-repeat;
  width: 165; 
  height: 165;
}

.pink-file-icon-pic {
  background-image: url("/os-design/pink-file-icon.png"); 
  background-size: contain; 
  background-position: contain; 
  background-repeat: no-repeat;
  width: 200; 
  height: 200;
}


