# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# next.js
/.next/
/out/

# testing
/coverage

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# portfolio ver.
/portfolio/node_modules
/portfolio/.pnp
/portfolio/.pnp.*
/portfolio/.yarn/*
/portfolio/!.yarn/patches
/portfolio/!.yarn/plugins
/portfolio/!.yarn/releases
/portfolio/!.yarn/versions
/portfolio/coverage
/portfolio/build
/portfolio/.DS_Store
/portfolio/*.pem
/portfolio/npm-debug.log*
/portfolio/yarn-debug.log*
/portfolio/yarn-error.log*
/portfolio/.pnpm-debug.log*
/portfolio/.env*
/portfolio/.vercel
/portfolio/*.tsbuildinfo
/portfolio/next-env.d.ts

